<p id="notice"><%= notice %></p>

<p>
    <strong>Title :</strong>
    <%= @book.title %>
</p>

<p>
    <strong>Author :</strong>
    <%= @book.author %>
</p>

<p>
    <strong>Publication :</strong>
    <%= @book.publication %>
</p>

<p>
    <strong>Tags :</strong>
    <%= @book.tags %>
</p>

<p>
    <strong>ISBN :</strong>
    <%= @book.isbn %>
</p>

<p>
    <strong>URL :</strong>
    <%= @book.url %>
</p>


<%= link_to 'Edit', edit_admin_book_path(@book) %> |
<%= link_to 'Back', admin_books_path %>
